torch==2.0.1
torchvision==0.15.2
pytorch_lightning==2.1.0
mlflow==2.8.1

ipykernel
ipython
openpyxl
notebook
Cython
pip 
tqdm
arff
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy

tensorboard
torchmetrics
clearml
clearml-agent
optuna
lightgbm
xgboost

